* {
	margin: 0px;
	padding: 0px;
}
:root {
	--cor-fundo: #000;
	--cor-texto: #fff;
	--cor-botao: #009748;
	--cor-fundo2: #222634;
	--fundo-form: #222634;
	--cor-fundo3: #fff;
}
body {
	display: grid;
	grid-template-areas: 
	"header header header"
	"aside main main"
	"footer footer footer";
	grid-template-columns: 250px auto auto;
	grid-template-rows: 8rem 100vh 3rem;
}

header {
	grid-area: header;
	background-color: var(--cor-fundo);
	text-align: center;
	padding: 40px 10px;
	background-image: linear-gradient(100deg, #224E61, #176761, #000000,#176761, #224E61 );
}
.cabeçalho {
	background-color: #265F72;
	text-align: center;
	padding: 20px 50px;
	color: black;
	opacity: 53%;
	width: 1440px;
}


.o-footer {
	grid-area: footer;
	background-color: var(--cor-fundo3);
	height: 500px;
	text-align: center;
}
.margem1 {
	text-align: center;
	margin:60px 80px auto 210px;
}
.margem2 {
	margin: 160px 40px auto 50px;
}
.margem3 {
	color: #454141 ;
	text-align: center;
	padding: 20px 50px;
	width: 1440px;
}
.dinheiro1 {
	color: black;
	margin: ;
	padding: ;
	font-size: 40px;


}